[submodule "src/glib"]
	path = src/glib
	url = https://github.com/gi-rust/gir.git
	branch = rust-fixes/master
[submodule "src/gobject-introspection"]
	path = src/gobject-introspection
	url = git://git.gnome.org/gobject-introspection
